.unordered {
    list-style-type: circle;
    line-height: 170%;
    background: rgb(255, 117, 117);
    padding: 20px;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif
}

.unordered li {
    background: #ff9090;
    margin: 5px
}

.nested-ul { 
    list-style-type: circle;
}

.nested-ul li {
    background: rgb(255, 204, 204);
    margin: 5px;
}

.ordered {
    background: rgb(255, 117, 117);
    padding: 20px;
    width: 20%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3em;
    }

    .ordered li {
    background: #ff9090;
    padding: 5px;
    margin-left: 20px;
}

.custom-box-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
    
    .custom-box-list li {
    counter-increment: step-counter;
    margin-bottom: 10px;    
}
    
    .custom-box-list li::before {
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 80%;
    background-color: rgb(255, 204, 204);
    color: rgb(255, 117, 117);
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;    
}

.list-image {
    list-style: none;
    padding-left: 0;    
}

.list-image li {
    position: relative;
    padding-left: 30px;    
    line-height: 170%;
}

.list-image li:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url('appler.png');
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.popular-sites {
    list-style: none;
    padding-left: 0;
}
.popular-sites li {
    position: relative;
    padding-left: 30px;
    line-height: 170%;
}
.popular-sites li:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url('firer.png');
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

table, th,td {
    border: 1px solid black;
    border-collapse: collapse;
}
  
th,td {
    padding: 15px;
    text-align: center;
}
  
caption {
    caption-side: bottom;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: black;
}
  
.table-simple th {
    background-color: rgb(255, 117, 117);
    color: white;
}
  
.table-simple tr:nth-child(even) {
    background-color: rgb(255, 204, 204);
}
  
.table-simple tr:nth-child(odd) {
    background-color: #fff;
}
  
.table-simple tr:hover {
    background-color: #ff9090;
}
  
.head-body-foot thead {
    color: purple;
    background-color: rgb(243, 136, 13);
}
   
.head-body-foot tbody {
    color: rgb(182, 212, 182);
    font-weight: bold;
    background-color: rgb(68, 39, 177);
}
   
.head-body-foot tfoot {
    color: rgb(5, 4, 0);
    background-color: rgb(227, 231, 233);
    font-weight:bold ;
}

.head-body-foot thead:hover {
    background-color: #acffe3;
}

.head-body-foot tbody:hover {
    background-color: #8aff1d;
}

.head-body-foot tfoot:hover {
    background-color: #ff44ff;
}

